body, p ,a, h1 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: sans-serif;
    font-size: 1em;
}

body a {
    color: #0645ad;
    font-family: sans-serif;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body a:visited {
    color: #0b0080;
}

body {
    background-image: linear-gradient(to bottom, #fff 40px, #f6f6f6 80px);
}


/* side menu */


.logo img {
    width: 140px;
    margin: 0 0 20px -10px;
}

.side-menu {
    width: 180px;
    display: block;
    position: absolute;
    top: 0;
}

.side-menu a {
    margin: 5px 0 0 30px;
    display: block;
    font-size: 12px;
}

.side-menu p {
    margin: 20px 0 0 30px;
    font-size: 12px;
    font-family: sans-serif;
}

.side-menu hr {
    border: 0;
    margin: 5px;
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, #e9e9e900, #aaaaaa96, #e9e9e900);
}

.languages {
    display: inline-flex;
    width: 160px;
    justify-content: space-between;
    align-items: flex-end;
}
.languages img {
    width: 16px;
    margin-bottom: -4px;
}


/* top menu */


.top-menu {
    height: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.menu-left {
    display: inline-flex;
    align-items: flex-end;
    padding-left: 180px;
}

.bookmarks ul {
    padding: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    flex-wrap: nowrap;
    display: inline-flex;
}

.bookmarks li {
    font-size: 13px;
    text-align: center;
    padding: 10px 5px 5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, #fff 0%, #a7d7f9 100%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #fff 0, #a7d7f9 500%);
    display: inline-flex;
}

.menu-right .bookmarks {
    display: inline-flex;
    width: 40%;
}

.menu-right {
    height: 80px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 10px;
    width: 560px;
}

.right-top img {
    height: 14px;
    position: relative;
    top: 2px;
    left: 2px;
}

.right-top ul {
    padding: 0px;
    margin-block-start: 5px;
    margin-block-end: 0;
}

.right-top li {
    display: inline-block;
    font-size: 12px;
    margin: 5px 5px 0 0;
    line-height: 23px;
}

.right-bottom {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.search {
    display: inline-flex;
    width: 60%;
    min-width: 215px;
}

.search input[type=search] {
    width: 100%;
    height: 28px;
    margin: 0 5px 3px 10px;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
}

.search input[type=submit] {    
    background-image: url(Pictures/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 25px;
    background-color: transparent;
    border: none;
    right: 15px;
    margin: 6px 0;
}


/* content */


.content {
    width: 100%-180px;
    height: auto;
    margin-left: 180px;
    padding: 30px 20px 20px 20px;
    border: 1px solid #a7d7f9;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #fff;
}

h1 {
    margin-left: 5px;
}


/* welcome */


.welcome {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    height: auto;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.welcome .left {
    line-height: auto;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 300;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.welcome .left h1 {
    font-size: 22px;
    margin: 10px 0 0px 0;
    font-weight: 400;
    text-align: center;
}

.welcome .left h2 {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
.welcome .left h3 {
    font-size: 12px;
    font-weight: 400; 
    text-align: center;
    margin: 5px 0 5px; 
}

.welcome .right {
    flex-basis: 650px;
    display: inline-flex;
    align-items: center;
}

.welcome .right div {
    flex-basis: 200px;
    min-width: 90px;
    flex-shrink: 2;
}

.welcome .right li {
    font-size: 13px;
    line-height: 20px;
}


/* articles */


.articles-1-2 {
    display: inline-flex;
    width: 100%;
}


    /* article 1 */


.article-1 {
    width: 55%;
    height: auto;
    margin: 2px 2px 2px 0;
    padding: 10px;
    background-color: #f5fffa;
    border: 1px solid #cef2e0;
    position: relative;
}

.article-1 .h1 {
    font-size: 17px;
    background-color: #cef2e0;
    border: 1px solid #a3bfb1;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.article-1 .pic-1-art-1 img {
    height: 120px;
    width: 160px;
}

.article-1 .pic-1-art-1 {
    float: left;
    margin: 10px 10px 0 0;
    font-size: 12px;
    text-align: center;
}

.article-1 p {
    margin: 10px 5px;
    font-size: 14px;
    line-height: 23px;
}

.article-1 .pic-2-art-1 img {
    height: 122px;
    width: 162px;
}

.article-1 .pic-2-art-1 {
    float: right;
    margin: 10px 0 0 10px;
    font-size: 12px;
    text-align: center;
}

.article-1 .dyk-list {
    margin: 10px 0;
    font-size: 14px;
    line-height: 23px;
}


    /* article 2 */


.article-2 {
    width: 45%;
    margin: 2px 0 2px 2px;
    padding: 10px;
    background-color: #f5faff;
    border: 1px solid #cedff2;
    height: auto;
    position: relative;
}

.article-2 .day-list p {
    margin-left: 10px;
}

.article-2 .h1 {
    font-size: 17px;
    background-color: #cedff2;
    border: 1px solid #a3b0bf;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.article-2 .pic-1-art-2 img {
    height: 182px;
    width: 122px;
}

.article-2 .pic-1-art-2 {
    float: right;
    margin: 10px 0 0 10px;
    font-size: 12px;
    text-align: center;
}

.article-2 .news-list ul {
    font-size: 14px;
    line-height: 23px;
}

.article-2 .ongoing {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    font-family: sans-serif;
    margin: 10px 0 0 10px;
}

.article-2 .ongoing p {
    display: inline;
    font-weight: 700;
    margin-right: 10px; 
}

.article-2 .ongoing ul {
    font-size: 14px;
    line-height: 23px;
    display: inline;
    padding: 0;
}

.article-2 .ongoing li {
    display: inline;    
}

.article-2 .pic-2-art-2 img {
    width: 120px;
    height: 168px;
}

.article-2 .pic-2-art-2 {
    float: right;
    margin: 10px 0 0     10px;
    font-size: 12px;
    text-align: center;
}

.article-2 .day-list {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 23px;
}

.article-2 .people-anniversaries {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    font-family: sans-serif;
    margin: 10px 0 0 10px;
}

.article-2 .people-anniversaries p {
    display: inline;
}

.article-2 .people-anniversaries ul {
    font-size: 14px;
    line-height: 23px;
    display: inline;
    padding: 0;
    margin: 0;
}

.article-2 .people-anniversaries li {
    display: inline;
}
    

    /* article 3 */


.article-3 {
    width: 100%;
    margin: 2px 0;
    padding: 10px;
    background-color: #faf5ff;
    border: 1px solid #ddcef2;
    height: auto;
}

.article-3 .h1 {
    font-size: 17px;
    background-color: #ddcef2;
    border: 1px solid #afa3bf;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.pic-1-art-3 img {
    width: 300px;
    height: 327px;
    margin: 10px 10px 0 0;
}

.pic-1-art-3 {
    float: left;
}

.article-3 .all {
    display: inline-flex;
    align-items: center;
}

.article-3 .paragraphs {
    flex-direction: column;
}

.article-3 .paragraphs p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 23px;
    font-family: sans-serif;
}

.article-3 .paragraphs .text-caption {
    font-size: 12px;
}


     /* article 4 */


.article-4 {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #e2e2e2;
    height: auto;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 23px;
}

.article-4 p {
    margin: 5px 0 0 10px;
}

.article-4 .h1 {
    font-size: 17px;
    background-color: #eeeeee;
    border: 1px solid #ddd;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
}

.article-4 .other-areas a {
    font-weight: 700;
}

.sisters {
    margin: 10px 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sisters .asd {
    display: inline-flex;
    width: 33%;
    min-width: 250px;
}

.sisters img {
    max-width: 45px;
    max-height: 50px;
}

.sisters .sis-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 55px;
    margin: 5px;
}

.sis {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.sis a {
    font-weight: 700;
}

.art-lang {
    margin-block-end: 0;
}

.art-lang p {
    margin-left: 0px;
    display: inline;
}

.complete-list {
    text-align: center;
    width: 100%;
    font-weight: 700;
}


    /* article's footer */


.article-footer {
    font-size: 14px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.article-footer .top p {
    display: inline;
}

.article-footer ul {
    display: inline;
    padding: 0;
    margin: 0;
}

.article-footer li {
    display: inline;
}

.article-footer .bottom{
    display: inline;
    font-weight: 700;
    line-height: 23px;
}


/* footer */


footer {
    background-color: #f9f9f9;
    font-family: sans-serif;
    font-size: 11px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

footer .footer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    line-height: 23px;
    padding-left: 180px;
}

.footer-menu {
    padding: 0;
}

.footer-menu li {
    display: inline;
    margin-right: 10px;
}

footer .buttons {
    display: inline-flex;
    align-items: flex-end;
    margin: 10px;

}

footer .buttons img {
    height: 31px;
    padding: 0 10px 15px 0;
}